<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transport</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Transports live feed</h1>

    <h2><img src="/images/tube.png"> </h2>

    <div class="tubeUpdate">

        <div class="tube">
        
        <div class="piccadilly line">
            <p>Piccadilly Line</p>
        </div>
        <div class="victoria line">
            <p>Victoria Line</p>
        </div>
        <div class="circle line">
            <p>Circle Line</p>
        </div>
        <div class="northern line">
            <p>Northern Line</p>
        </div>

    </div> <!-- tube -->
    
    <div class="status">
        <div id="pic" class= <%= piccadillyClass %>><p> <%= piccadillyStatus %></p></div>
        <div id="vic" class=""></div>
        <div id="cir" class=""></div>
        <div id="nor" class=""></div>

    </div> <!-- status -->

</div> <!-- tubeUpdate -->

</body>
</html>

